<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->

<Configuration>
    
  <Appenders>
      <RollingFile name="rolling" fileName="C:\Users\Ramazan Fırat\Desktop\loglar\logDosyasi.log" 
                   filePattern="C:\Users\Ramazan Fırat\Desktop\loglar\logDosyasi-%d{yyyy-MM-dd-HH-mm-ss}-%i.log">
          <PatternLayout pattern=" %-5level %d{yyyy/MM/dd HH:mm:ss} %logger{36} (%F:%L) - %msg%n" />
          <Policies>
              <SizeBasedTriggeringPolicy size="1 MB"></SizeBasedTriggeringPolicy>
          </Policies>
          <DefaultRolloverStrategy>
              <Delete  basePath="C:\Users\Ramazan Fırat\Desktop\loglar"  maxDepth="1">
                <IfLastModified age="1d" />
              </Delete>
          </DefaultRolloverStrategy>
      </RollingFile>
    
  </Appenders>
  
  <Loggers>
    
   <!-- <Root level="info">
      <AppenderRef ref="file"/> Appenders içindeki kısımlara göre ref içine ne yazarsak
                                        onun patternLayout u çalışır
   root tagı içinde hangi appneder kullanılacağı belirtilir
   eveller : All < Trace < Debug < Info < Warn < Error < Fatal < Off
    </Root>-->
      <!--<logger name="com" level="info" additivity="false">
          <appender-ref ref="rolling"></appender-ref>
      </logger>-->
      <Root level="debug"><!--debugdan sonnraki kademeleri loglar-->
      <AppenderRef ref="rolling"/> 
    </Root>
    
     <!--<logger></logger>--><!--eğer bir classa bu şekilde logger atanmadıysa root içindeki logger çalışır-->
  </Loggers>
</Configuration>